1. Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

2. Creating Path

In [2]:
# Creating path
path = r'/Users/mac/Documents/01-2022 Instacart Basket Analysis'

3. Importing Orders Product Prior Data

In [5]:
#Importing Order Products data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data ', 'order_products__prior.csv'), index_col = False)

4. Importing orders data

In [14]:
#Importing orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data ', 'orders.csv'), index_col = False)

5. Checking the dimension of the Order Prior Data

In [7]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [17]:
df_ords.shape

(3421083, 7)

6. Merging the two dataframes

In [19]:
# Merging the two dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
# Checking the merged data
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [21]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

7. Exporting Data

In [22]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [23]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))